.panel.panel-default
  .panel-heading New Assessment
  .panel-body
    %p
      Here is how you answered

    .well
      KEY
      %ul
        %li 0 = almost always
        %li 1 = often
        %li 2 = about half the time
        %li 3 = occasionally
        %li 4 = seldom
        %li 5 = never

    .row
      .col-md-4
        %h4
          Mental
          %span.label.label-default
            = @user_assessment.mental_score
        %ul.list-group
          - @user_assessment.user_assessment_questions.mental.each do |assessment_question|
            %li.list-group-item
              %dl
                %dt
                  = "Question #{assessment_question.question_order}"
                %dd
                  = assessment_question.question.description
                %dt
                  You Answered:
                  = assessment_question.value
      .col-md-4
        %h4
          Technique
          %span.label.label-default
            = @user_assessment.technique_score
        %ul.list-group
          - @user_assessment.user_assessment_questions.technique.each do |assessment_question|
            %li.list-group-item
              %dl
                %dt
                  = "Question #{assessment_question.question_order}"
                %dd
                  = assessment_question.question.description
                %dt
                  You Answered:
                  = assessment_question.value
      .col-md-4
        %h4
          Physical
          %span.label.label-default
            = @user_assessment.physical_score
        %ul.list-group
          - @user_assessment.user_assessment_questions.physical.each do |assessment_question|
            %li.list-group-item
              %dl
                %dt
                  = "Question #{assessment_question.question_order}"
                %dd
                  = assessment_question.question.description
                %dt
                  You Answered:
                  = assessment_question.value